.scroll-top {
	background-color: $brand-primary;
	border-radius:    100%;
	bottom:           15px;
	color:            #fff;
	display:          none;
	font-size:        $font-size-large;
	padding:          5px 12px 8px;
	position:         fixed;
	right:            15px;
	z-index:          1000;
	opacity:          80%;

	&:active,
	&:focus,
	&:hover {
		background-color: darken($brand-primary, 10%);
		color:            #fff;
	}
}
